<body>
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-sm-8 col-md-6 col-lg-4 mx-auto mt-5">
        <div class="card border-0 shadow rounded-3 my-5 bg-custom-red">
          <div class="card-body p-4 p-sm-5">
            <h2 class="card-title text-center mb-5 text-white">Log In</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="mb-3">
                <%= f.email_field :email, class:"form-control input-field", placeholder:"name@example.com" %>
              </div>
              <div class="mb-3">
                <%= f.password_field :password, class:"form-control input-field", placeholder:"Password" %>
              </div>
              <div class="d-grid">
                <%= f.submit "Log in", class:"btn btn-primary text-uppercase fw-bold" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>