/*---------------------------- preloader area ----------------------------*/
.small-pic{
    width: 20%;
    height: 40%;
    border-radius: 50%;
    margin-top: 17%;
    margin-left: 40%;
}
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    background-color: #ff0000;
    z-index:999;
}

/*---------- header ----------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:10;
    background: #ff0000 !important;
    color: #fff !important;
}
header a{
    color: #fff !important;
}

/*---------- custom ----------*/
.text-custom-red{
    color: #ff0000 !important;
}
.text-custom-pink{
    color: #FFADAD !important;
}
.text-custom-gray{
    color: #B0B0B0 !important;
}
.bg-custom-pink{
    background-color: #FFADAD !important;
}
.bg-custom-red{
    background-color: #FF0000 !important;
}

.banner{
    width: 50%;
    margin: 0 auto;
}
.profile-image{
    width:100%;
    height: auto;
}
.book{
    height: 300px;
}
.teacher{
    height: 300px;
    border-radius: 5%;
}
.custom-container{
    border: 5px dashed red;
    min-height: 90%;
    overflow: scroll;
}
.max-w-150{
    max-width: 150px;
}
.max-w-200{
    max-width: 200px;
}
.admin-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* tablet */
@media only screen and (max-width: 950px) {
    .small-pic{
        width: 40%;
        height: 40%;
        border-radius: 50%;
        margin-top: 40%;
        margin-left: 30%;
    }
}

/* mobile */
@media only screen and (max-width: 600px) {
    .banner{
        width: 100%;
        margin: 0;
    }
    .small-pic{
        width: 40%;
        height: 20%;
        border-radius: 50%;
        margin-top: 60%;
        margin-left: 30%;
    }
}