<div id="<%= dom_id material %>">
  <p>
    <strong>Name:</strong>
    <%= material.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= material.price %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= material.link %>
  </p>

</div>
