<div class="container-fluid m-0 p-0 p-2">
    <div class="m-5">
        <div class="d-flex justify-content-between my-3">
            <%= link_to "Book a Recruiter", "https://calendly.com/matchmewithcanada/meeting", class:"btn btn-danger my-auto", target:"_blank" %>
            <form action="/" method="POST">
                <div class="d-flex">
                    <input type="text" placeholder="Search..." class="form-control input-field">
                    <button class="btn btn-danger">Search</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="recruiter/1" class="nav-link">
                        <%= image_tag "recruiters/recruiter1", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Donna H.<br>
                            CV, Linkedin, interview training, coaching
                        </div>
                        <span class="text-success">250.00$/package</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="recruiter/2" class="nav-link">
                        <%= image_tag "recruiters/recruiter2", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Astha G.<br>
                            CV, Linkedin, interview training, Job for foreigners
                        </div>
                        <span class="text-success">262.56$/package</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>