<div class="container-fluid m-0 p-0 p-2">
    <div class="m-5">
        <div class="d-flex justify-content-end my-3">
            <form action="/" method="POST">
                <div class="d-flex">
                    <input type="text" placeholder="Search..." class="form-control input-field">
                    <button class="btn btn-danger">Search</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-4 my-3">
                <div class="card shadow p-4 text-center">
                    <%= image_tag "girl", class:"profile-image" %>
                    <div class="mt-3 text-custom-red">
                        Very beautiful model <br>
                        IELTS
                    </div>
                    <span class="text-success">10.00$/hr</span>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card shadow p-4 text-center">
                    <%= image_tag "girl", class:"profile-image" %>
                    <div class="mt-3 text-custom-red">
                        Very beautiful model <br>
                        IELTS
                    </div>
                    <span class="text-success">10.00$/hr</span>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card shadow p-4 text-center">
                    <%= image_tag "girl", class:"profile-image" %>
                    <div class="mt-3 text-custom-red">
                        Very beautiful model <br>
                        IELTS
                    </div>
                    <span class="text-success">10.00$/hr</span>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card shadow p-4 text-center">
                    <%= image_tag "girl", class:"profile-image" %>
                    <div class="mt-3 text-custom-red">
                        Very beautiful model <br>
                        IELTS
                    </div>
                    <span class="text-success">10.00$/hr</span>
                </div>
            </div>
        </div>
    </div>
</div>